{% extends "main.html" %}
{% block content %}

<div id="cart">
  {% if messages %}
    {% for message in messages %}
    {% if message.tags == error %}
        <div id="message-container" class = "erorr-container">
            {{ message }}
        </div>
    {% else %}
        <div id="message-container" class = "warning-container">
                <strong>{{message}}</strong>
        </div>
    {% endif %}

    {% endfor %}
    
{% endif %}
  <div class="cart-container">
    
    <div class="cart-left">
    <div class="cart-top">
        <p>Produs</p>
        <p>Descriere</p>
        <p>Preț</p>
        <p>Cantitate</p>
        <p>Subtotal</p>
    </div>

    <div id="cart-items">
        {% include "cart/cart_partial.html" %}
    </div>
</div>

    <div class="cart-right">
      <div class="cart-total">
        <h3>Cart Total</h3>
        <p>{{ cart_total }} lei</p>
      </div>
      <form method="POST" action="{% url 'checkout' %}">
        {% csrf_token %}
        <input type="hidden" name="cart_cid" value="{{ cart_cid }}">
        {% if cart_total == 0 %}
        <button class="checkout-btn" disabled>No items in the cart</button>
        {% else %}
        <button class="checkout-btn" >Checkout</button>
        {% endif %}
      </form >  
    </div>

  </div>
</div>

{% endblock content %}