.text_bl{
    margin-left: 260px;
    margin-right: 260px;
    color: white;
}

.text_bl .title{
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: aliceblue;
}
.text_bl .sub_title{
    font-family: Arial, Helvetica, sans-serif, bold;
    color: aliceblue;
    font-weight: bold;
}
.text_bl img{
    width: 30px;
    height: auto;
    cursor: pointer;

}
.text_bl .paragraf{
    color: white;
}
.il_el{
    display: inline-block;
}
