body, html{
    padding: 0px;
    margin: 0px;
    background-color: #2e2e2e;
}

.login_button {
    
    font-family:Impact, Haettenschweiler, 'Arial Bold', sans-serif ;
    color: white; 
    padding: 8px 16px; 
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px; 
    text-decoration: none;
}
.account-dropdown {
    position: relative;
    display: inline-block;
}


.acc_icon {
    cursor: pointer;
    width: 30px; 
    height: 30px;
}


.dropdown-menu {
    display: none; 
    position: absolute;
    top: 100%; 
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000; 
}


.dropdown-menu li {
  
    padding: 10px;
    text-align: center;
}

.dropdown-menu li a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #f5f5f5;
}


.account-dropdown:hover .dropdown-menu {
    display: block;
}
#header_id{
    
    width: auto;
    background: linear-gradient(270deg, #6814ae, #5a189a, #370668, #5a189a, #6814ae);
    background-size: 400% 400%;
    animation: gradientMove 8s ease infinite;
 
}
@keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.header_el{
    margin: auto;
    width: auto;
    padding: 15px;
}

     

#upper_header{
    display: flex;
    justify-content: center;
    align-self: center;
}
#logo_cont{
   width: 120px;
   display: inline-flex;
   align-self: center;
   justify-content: center;
}
#buy_acc{
    display: flex;
    align-items: center; 
}
.upp_cont{
    justify-content: center;
}
#search_bar {
    display: flex;
    align-items: center;
   
    
}
    .search_icon{
    width: 7%;
    padding-right: 5px;
    }
    .logo_img{
    width: 100%;
    height: auto;
    }
    .basket_icon{
    width: 30px;
    padding-right: 15px;
    }
    .acc_icon{
    width: 30px;
    }
    .s_bar{
        width: 400px;
        border: 3px solid white ;
        padding: 5px;
        margin-top: -4px;
        border-radius: 20px;
        background-color: black;
    }
#lower_header {
   display: flex;
   justify-content: center;
   margin: 10px;
    
}
#lower_header a{
    width: 20%;
    height: 25%;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    
}
