.product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem;
    gap: 4rem;
    color: white;
    background-color: #2e2e2e;
    font-family: Arial, sans-serif;
}

.p_image img {
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.p_details {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #3a3a3a00;
    border-radius: 5px;
}
.p_dsc {
   background-color: #510c89df;
   padding : 1rem;
   border-radius: 5px;
}
.p_dsc h1 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.p_dsc p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #cccccc;
}

.p_buy {
    background-color: #510c89df;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 1rem;
}

.basket_img img {
    width: 60px;
}

.p_price h2 {
    margin: 0;
    font-size: 1.6rem;
    color: #ffb6ff;
}

.quantity-input {
    width: 60px;
    padding: 6px;
    border-radius: 5px;
    border: none;
}

.buy_button .button {
    padding: 10px 20px;
    background-color: #e754e8;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy_button .button:hover {
    background-color: #c63fc7;
}

.stock-warning {
    color: #ff0000;
    font-weight: bold;
    margin-top: 10px;
}