{% extends 'main.html' %}

{% block content %}
 <div id ="text_bl_id" class="text_bl">
        <p class="title">Contact</p>

<p class="sub_title">1. Cum ne poți contacta?</p>
<p class="paragraf">Echipa <strong>Gym Shop</strong> este aici pentru a te ajuta! Indiferent dacă ai întrebări legate de produse, comenzi sau alte informații, ne poți contacta prin următoarele metode:</p>

<p class="sub_title">2. Informații de Contact</p>
<p class="paragraf">
    <ul>
        <li>📧 <strong>Email:</strong> <a href="mailto:support@gymshop.com">support@gymshop.com</a></li>
        <li>📞 <strong>Telefon:</strong> <a href="tel:+40123456789">+40 123 456 789</a></li>
        <li>🏢 <strong>Adresă:</strong> Stefan cel Mare nr. 10, București, România</li>
    </ul>
</p>

<p class="sub_title">3. Program de lucru</p>
<p class="paragraf">Suntem disponibili pentru suport clienți în următorul program:</p>
<p class="paragraf">
    <ul>
        <li>🕒 <strong>Luni - Vineri:</strong> 09:00 - 18:00</li>
        <li>🕒 <strong>Sâmbătă:</strong> 10:00 - 14:00</li>
        <li>❌ <strong>Duminică:</strong> Închis</li>
    </ul>
</p>

<p class="sub_title">4. Formulare de Contact</p>
<p class="paragraf">Ne poți contacta și prin formularul de contact disponibil pe site-ul nostru. Vom răspunde la solicitarea ta în cel mai scurt timp posibil.</p>

<p class="sub_title">5. Rețele Sociale</p>
<p class="paragraf">Fii la curent cu noutățile, promoțiile și sfaturile noastre urmărindu-ne pe rețelele sociale:</p>
<p class="paragraf">
        <div class="il_el"><img src="images/facebook.png" alt="Facebook"></div><strong>Facebook:</strong> <a href="https://facebook.com/gymshop">facebook.com/gymshop</a>
        <br>
        <div class="il_el"><img src="images/instagram.png" alt="Instagram"></div><strong>Instagram:</strong> <a href="https://instagram.com/gymshop">instagram.com/gymshop</a>
        
</p>

<p class="sub_title">6. Îți Mulțumim!</p>
<p class="paragraf">Îți mulțumim pentru interesul acordat <strong>Gym Shop</strong>. Suntem aici să te ajutăm să îți atingi obiectivele de fitness și să îți oferim cele mai bune servicii. Așteptăm cu nerăbdare să auzim de la tine! 💪</p>

</div>
{% endblock content %}