{% extends 'main.html' %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    <div id="message-container" class="{{ message.tags }}-container">
        <strong>{{ message }}</strong>
    </div>
  {% endfor %}
{% endif %}
<div id="main-banner" class="main-banner">
        <div class="imgban" id="imgban3">
            <div class="imgban-box">
                <h2>Îmbrăcăminte sport și echipamente sportive</h2>
            </div>
        </div>
        <div class="imgban" id="imgban2">
            <div class="imgban-box">
                <h2>Suplimente și alimente nutritive</h2>
            </div>
        </div>
        <div class="imgban" id="imgban1">
            <div class="imgban-box">
                <h2>Noutăți din lumea fitness și studii oficiale</h2>
            </div>
        </div>
</div>    



{% endblock content %}
{% load static %}
{% block extra_js %}
<script src="{% static 'assets/js/banner.js' %}"></script>
{% endblock %}
